.contrasea-actual {
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.form1,
.password-input1 {
  position: relative;
  max-width: 100%;
}
.form1 {
  height: 48px;
  width: 573px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white1);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  display: none;
}
.password-input1 {
  width: 414.5px;
  border: 0;
  outline: 0;
  font-family: var(--font-montserrat-alternates);
  font-size: var(--font-size-sm);
  background-color: transparent;
  height: 17px;
  color: var(--color-gray-3);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 1;
}
.form,
.password-field-labels {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.form {
  align-self: stretch;
  border-radius: var(--br-8xs);
  background-color: var(--color-white1);
  border: 1px solid var(--color-gray-2);
  box-sizing: border-box;
  flex-direction: row;
  padding: var(--padding-smi) var(--padding-10xl) var(--padding-sm);
  z-index: 1;
}
.password-field-labels {
  width: 573px;
  flex-direction: column;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--color-text);
  font-family: var(--font-montserrat-alternates);
}
