@font-face {
  font-family: 'monserrat';
  src: url('./assets/montserrat_alternates_regular.ttf');
}

html, body {
  font-family: 'monserrat' !important;
  /* margin: 0;
  height: 100%; */

  background-color: #F3F4FF !important;
}

#root {
  height: 100% !important;
}

.sign-background {
  height: 100% !important;
  
}

.sign-logo{
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    display: block;
    width: 40%;
  }
}

.card-custom {
  width: 50% !important;
}

.signin {
  
}

.signup {
  width: 75% !important;
}

.sign-card-header {
  background-color: #085F63 !important;
  color: #ffffff !important;
  padding: .8em 2em !important;
}

.sign-register-btn {
  justify-content: center;
  padding: 1em 0;

  button {
    background-color: #085F63;
    padding: .7em 2.3em;
    border-radius: 14em;
    width: fit-content;
    border-color: #085F63;
  }
}

.app-btn-outline {
  border-radius: 14em !important;
  padding: .7em 2.3em !important;
  width: fit-content !important;
  border-color: #085F63 !important;
  color: #085F63 !important;
  background-color: #ffffff !important;
}

.app-btn-red {
  border-radius: 14em !important;
  padding: .7em 2.3em !important;
  width: fit-content !important;
  border-color: #FF4550 !important;
  background-color: #FF4550 !important;
}

.sign-has-account {
  justify-content: center;
  
  p {
    width: fit-content;
  }
}

@media (max-width: 768px) {
  .sign-logo img {
    width: 65%;
  }

  .card-custom {
    width: 75% !important;
  }

  .signup {
    width: 90% !important;
  }
}

@media (max-width: 362px) {

  .sign-logo img {
    width: 70%;
  }
  .card-custom {
    width: 90% !important;
  }
}

/* AppContainer */
.app-logo {
  background-color: #ffffff;
  padding: 2em;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-navbar {
  background-color: #085F63;
  padding: 0 !important;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: inherit;
  position: fixed;
}

.app-navitems {
  .nav-item {
    border-radius: 0;

    .nav-link {
      color: #ffffff;
      border-top-left-radius: 3em !important;
      border-bottom-left-radius: 3em !important;
      padding: 1em;
    }

    .nav-link.active {
      color: #085F63;
      background-color: #ffffff !important;
    }
  }

}

.app-logout {
  margin: 2em !important;
  padding: 1em 0 !important;
  border: 0 !important;
  width: 100% !important;
  border-radius: 3em !important;
  background-color: #49BEB7 !important;
  color: #ffffff !important;
  flex-shrink: unset !important;
}

.app-copyright {
  font-size: .8em !important;
  text-align: center;
  margin-top: 1.5em !important;
}

.header-user {
  display: inline-block;
  background-color: #49BEB7;
  border-radius: 50%;
  padding: .5em .8em;
  margin-left: .3em;
  color: #ffffff;
}

.app-section {
  background-color: #ffffff;
  border-radius: 1em;
  padding: 1em;
  margin: 1em;
}

.dash-icon {
  width: fit-content;
  background-color: #49BEB7;
  border-radius: 50%;
  padding: 1em .2em;
  color: #ffffff;

  svg {
    box-sizing: border-box !important;
  }
}

.bg-yellow {
  background-color: #fcc43e;
}

.bg-orange {
  background-color: #fb7d5b;
}
/* AppContainer */

.app-btn {
  background-color: #085F63 !important;
  border-radius: 3em !important;
  padding: .7em 0 !important;
  width: 20% !important;
  border: 0 !important;
  color: #ffffff !important;
}